.header {
  .header_container {
    position: relative;

    .header_top {
      height: 40px;
      background-color: #222;

      &_container {
        max-width: 1200px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        &_left {
          p {
            font-size: 12px;
            line-height: 1.8;
            color: #b2b2b2;
          }
        }

        &_right {
          ul {
            display: flex;

            li {
              font-size: 12px;
              padding: 0px 25px;
              line-height: 5;
              color: #b2b2b2;
              border-right: 1px solid rgba(255, 255, 255, 0.3);
            }

            &:first-child {
              border-left: 1px solid rgba(255, 255, 255, 0.3);
            }
          }
        }
      }
    }

    .header_main {
      position: fixed;
      z-index: 1100;
      background-color: transparent;
      width: 100%;
      height: 84px;
      left: 0px;

      nav {
        max-width: 1200px;
        margin: auto;
        display: flex;
        align-items: center;
        background-color: transparent;
        height: 100%;

        .header-img {
          margin-right: 55px;
        }

        .header_main_list {
          ul {
            height: 100%;
            display: flex;
            align-items: center;

            .active {
              background-color: transparent;
            }

            li {
              padding: 20px 10px;
              font-size: 14px;
              color: #333;
              font-weight: 500;
              transition: 0.5s all ease;

              sup {
                line-height: 15px;
                color: #fff;
                text-transform: uppercase;
                text-align: center;
                height: 15px;
                min-width: 32px;
                border-radius: 7px;
                padding: 0 4px;
                background-color: #f74877;
                font-size: 10px;
              }

              &:hover {
                color: #6c7ae0;
              }
            }
          }
        }

        .header_main_icon {
          display: flex;
          align-items: center;
          height: 100%;
          flex-grow: 1;
          justify-content: flex-end;

          div {
            line-height: 1;
            padding: 11px 20px;

            i {
              cursor: pointer;
              font-size: 20px;
              sup {
                font-size: 12px;
                color: #fff;
                line-height: 15px;
                text-align: center;
                min-width: 15px;
                height: 15px;
                padding: 0 3px;
                background-color: #717fe0;
              }
            }
          }
        }
      }
    }
  }
}

.sticky {
  .header_container {
    .header_top {
      display: none !important;
      z-index: 1200;
    }
    .header_main {
      background-color: #ffff;
    }
  }
}