.wishlist_side {
    .wishlistcontainer_active {
      visibility: visible;
      opacity: 1;
      right: 0;
    }
    &_container {
      position: fixed;
      z-index: 1500;
      width: 390px;
      max-width: calc(100% - 30px);
      height: 100vh;
      top: 0;
      right: -390px;
      visibility: hidden;
      opacity: 0;
      background-color: #fff;
      padding: 0px 32px;
      transition: 0.5s all ease;
      .wishlist_side_context {
        height: 100vh;
        .wishlist_side_title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 260px;
          margin: auto;
          max-width: 100%;
          height: 16.5%;
          min-height: 85px;
          h4 {
            font-size: 18px;
            line-height: 1.333333;
            text-transform: uppercase;
            font-weight: 700;
          }
          i {
            cursor: pointer;
            font-weight: 700;
            font-size: 18px;
          }
        }
        .wishlist_cards {
          display: flex;
          flex-direction: column;
          gap: 20px;
          .wishlist_card {
            border: 1px solid #e6e6e6;
            display: flex;
            align-items: center;
            padding: 10px;
            gap: 10px;
            .wishlist_img {
              width: 40%;
            }
            .wishlist_text {
              width: 40%;
              display: flex;
              flex-direction: column;
              p {
                span {
                  font-weight: bold;
                }
              }
            }
            .wishlist_buttons {
              width: 10%;
              display: flex;
              flex-direction: column;
            }
          }
        }
      }
    }
  }