#products {
  .products_container {
    max-width: 1200px;
    margin: auto;
    .products_title {
      margin-bottom: 30px;
      h3 {
        color: #222;
        font-size: 36px;
        line-height: 1.1;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
}
