#products {
  .products_container {
    max-width: 1200px;
    margin: auto;
    .products_title {
      margin: 30px 0px;
      h3 {
        color: #222;
        font-size: 36px;
        line-height: 1.1;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
    .load_products{
      display: grid;
      place-items: center;
      padding: 80px 0px;
      button{
        border: none;
        border-radius: 25px;
        font-size: 15px;
        line-height: 1.466667;
        text-transform: uppercase;
        color: #222;
        background-color: #e6e6e6;
        padding: 0px 15px;
        min-width: 179px;
        height: 46px;
        transition: 0.5s all ease;
        &:hover{
          background-color: #222;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
}
