.basket_side {
  .basketcontainer_active {
    visibility: visible;
    opacity: 1;
    right: 0;
  }
  &_container {
    position: fixed;
    z-index: 3;
    width: 390px;
    max-width: calc(100% - 30px);
    height: 100vh;
    top: 0;
    right: -390px;
    visibility: hidden;
    opacity: 0;
    background-color: #fff;
    padding: 0px 32px;
    transition: 0.5s all ease;
    .basket_side_context {
      height: 100vh;
      .basket_side_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 260px;
        margin: auto;
        max-width: 100%;
        height: 16.5%;
        min-height: 85px;
        h4 {
          font-size: 18px;
          line-height: 1.333333;
          text-transform: uppercase;
          font-weight: 700;
        }
        i {
          cursor: pointer;
          font-weight: 700;
          font-size: 18px;
        }
      }
      .basket_cards {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .basket_card {
          border: 1px solid #e6e6e6;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          padding: 10px;
          gap: 10px;
          .basket_img {
            width: 50%;
          }
          .basket_text {
            width: 40%;
            display: flex;
            flex-direction: column;
            p {
              span {
                font-weight: bold;
              }
            }
          }
          .basket_buttons {
            display: flex;
            gap: 10px;
            button {
              background-color: #717fe0;
              color: #ffff;
              border: none;
              border-radius: 3px;
              font-weight: 600;
              font-size: 15px;
              padding: 10px 20px ;
              line-height: 1.466667;
              text-transform: uppercase;
              transition: 0.5s all ease;
              &:hover{
                background-color: #f5f5f5;
                color: #717fe0;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
.opacitydiv {
  background-color: #00000068;
  position: fixed;
  left: 0;
  top: 0;
  width: 99vw;
  height: 100vh;
  z-index: 2;
}
