#contact {
    background-color: #fff;
    padding: 116px 0px;

    .contact_container {
        max-width: 1200px;
        margin: auto;

        .contact_context {
            display: flex;

            .formik {
                width: 50%;
                border: 1px solid #e6e6e6;
            }

            .contact_address {
                width: 50%;
                border: 1px solid #e6e6e6;
                padding: 50px 93px;

                .address {
                    display: flex;
                    align-items: flex-start;
                    gap: 20px;
                    padding-bottom: 42px;

                    i {
                        color: #222;
      
                        font-size: 18px;
                    }

                    div {
                        h4 {
                            font-size: 18px;
                            line-height: 1.222222;
                            color: #333;
                        }

                        p {
                            max-width: 245px;
                            font-size: 15px;
                            line-height: 1.666667;
                            color: #888;

                        }
                    }
                }

                .talk {
                    display: flex;
                    align-items: flex-start;
                    gap: 20px;
                    padding-bottom: 42px;

                    i {
                        color: #222;
                        font-size: 18px;
                    }

                    div {
                        h4 {
                            font-size: 18px;
                            line-height: 1.222222;
                            color: #333;
                            
                        }

                        p {
                            max-width: 245px;
                            font-size: 15px;
                            line-height: 1.666667;
                            color: #717fe0;
                            padding-top: 18px;

                        }
                    }
                }

                .support {
                    display: flex;
                    align-items: flex-start;
                    gap: 20px;
                    padding-bottom: 42px;

                    i {
                        color: #222;
                        font-size: 18px;
                    }

                    div {
                        h4 {
                            font-size: 18px;
                            line-height: 1.222222;
                            color: #333;
                        }

                        p {
                            max-width: 245px;
                            font-size: 15px;
                            line-height: 1.666667;
                            color: #717fe0;
                            padding-top: 18px;
                        }
                    }
                }
            }
        }
    }
}

.map {
    height: 450px;

    iframe {
        border: none;
        height: 100%;

    }
}